<h1></h1>
<%= form_tag(@coupon) do %>
<h2>Coupon Form</h2>
  <%= label_tag "coupon_code", "Coupon Code" %>
      <%= text_field_tag "coupon_code" %>

    <%= label_tag "store", "Coupon Code Store" %>
    <%= text_field_tag "store" %>

  <%= submit_tag "Create" %>

<% end %>
